<!-- display message confirms the amount paid by a user -->
<h2>Thanks, you paid <strong> $<%= ShoppingCart.find(session[:shopping_cart_id]).total_cost %></strong></h2>

<!-- google api used to provide directions to the user where to go and pick up the food -->
<h2> Go to this address to pick up your food! </h2>

<% @all_addresses.each do |address| %>
	<h3><%= address %></h3>
<% end %>

<div class="map-canvas"></div>
