<div class="row homepage">

<div class="column column-4">
	
	
	<h1>Anything But Pizza</h1>
	<hr>
	<p><img class="svg" src="/assets/svg/cut.svg" alt=""></p>
	<hr>
	<h3> About Us: We don't do anything </h3>
</div>

<div class="column column-4">
	

	<h1> SOME THINGS COOKING </h1>
	<hr>
	<p><img class="svg" src="/assets/svg/cut.svg" alt=""></p>
	<hr>
	
		<% @top5[0..4].each do |top| %>
			<p><%= link_to "#{top.name}", item_path(top) %></p>
		<% end %>
	
</div>

<div class="column column-4">
	<% if @current_user.present? %>
		<h1> In your area! : </h1>
		<hr>
		<p><%= link_to "Categories", categories_path %></p>
	<% end %>
	<% unless @current_user.present? %>
		<h1> SIGN UP  </h1>
		<hr>
		<p><img class="svg" src="/assets/svg/cut.svg" alt=""></p>
		<hr>
		<%= link_to "Signup", new_user_path %>
	<% end %>
	<% if @current_user.present? %>
		<p><%= link_to "Past Orders", user_path(@current_user) %></p>
	<% end %>
</div>

	
</div>