/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("//fonts.googleapis.com/css?family=Roboto:400,700,300");
$thatBlue: #0faae4;
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 0px;
}
.container {
    padding: 10px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*SVG*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.svg {
    width: 100px;
    display: inline-block;
}
svg {
    margin-top: 5px;
}
svg:hover {
    fill: #fce57e;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*PLACE HODLERS*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

::-webkit-input-placeholder {
    color: black;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: black;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: black;
}
:-ms-input-placeholder {
    color: black;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*HEADER*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    background-color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 90000000;
    color: black;
    padding-top: 6px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*HEADER NAV*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header ul {
    padding: 0px;
    margin: 0px;
}
header li {
    float: left;
    line-height: 60px;
    height: 40px;
    margin-top: -6px;
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
    display: inline-block;
    height: 65px;
    -webkit-transition: all ease-in-out .1s;
}
header li:hover {
    background-color: #0faae4;
    border-bottom: 5px solid black;
    height: 65px;
}
header li a:hover {
    color: #fce57e;
}
header a {
    color: black;
    text-decoration: none;
    transition: all .2s;
    font-weight: bold;
}
.vertical-bar {
    /*VERTICAL BAR*/
    
    border-left: 1px solid #000;
    height: 70px;
}
body > header > nav > div > ul > li:nth-child(2) {
    padding-right: 0px;
    padding-left: 0px;
}
body > header > nav > div > ul > li:nth-child(2):hover {
    background-color: white;
    border: none;
}
.mobile-nav {
    display: none;
}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
.menu-btn span {
    display: block;
    width: 40px;
    height: 10px;
    margin: 4px 20px;
    background: rgb(0, 0, 0);
    z-index: 99;
}
.responsive-menu {
    display: none;
}
.expand {
    display: block !important;
}
.desktop-nav {
    display: inline-block;
}
/*HEADER-TITLE*/

div.title {
    position: absolute;
    right: 30px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*HEAD SEARCH*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.search {
    text-align: center;
    /*margin-top: 70px;
  margin-bottom: -15px;*/
}
.search input[type=text] {
    margin-top: 7px;
    height: 28px;
    padding: 5px;
    list-style: none;
    display: inline-block;
    color: black;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    transition: all ease-in-out .3s;
}
.blue input[type=text] {
    width: 200px;
    background: rgba(15, 170, 228, 1);
}
.blue input[type=text]:focus {
    color: #0faae4;
    background: #fff;
}
.blue input[type=text]:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.searchButton {
    width: 100px;
    height: 36px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #0faae4;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 4px;
    -webkit-transition: all ease-in-out .3s;
}
.searchButton:hover {
    background: #0faae4;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.category-list ul {
    list-style: none;
}
#map {
    width: 100%;
}
.banner {
    width: 100%;
    height: 400px;
    margin-bottom: -80px;
    background-image: image-url('foods.jpg');
    background-size: cover;
    background-position: 0px -72px;
    font-size: 2em;
}
.banner h1 {
    position: absolute;
    top: 120px;
    left: 25%;
    color: white;
    text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9, 5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9, 8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9, 11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9, 14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9, 17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9, 20px 20px 0 #0199d9;
}
.backs {
    background: #F7F7F7;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*FORMS*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.jb-formin {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 700px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}
.jb-formin h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    ;
    color: black;
}
.jb-formin h1>span {
    display: block;
    font-size: 11px;
}
.jb-formin label {
    display: block;
    margin: 0px;
    text-decoration: underline;
    font-weight: bold;
}
.jb-formin label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: black;
}
.jb-formin input[type="text"],
.jb-formin input[type="email"],
.jb-formin input[type="password"],
.jb-formin textarea,
.jb-formin select {
    border: 1px solid #DADADA;
    color: $thatBlue;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 99%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.jb-formin input[type="checkbox"] {
    margin-top: -10px;
}
.jb-formin input[type="number"] {
    border: 1px solid #DADADA;
    color: $thatBlue;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 30px;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.jb-formin textarea {
    padding: 5px 3px 3px 5px;
}
.jb-formin select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.jb-formin textarea {
    height: 100px;
}
.jb-formin .button,
input[type="file"],
{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0faae4;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.jb-formin .button:hover,
input[type="file"]:hover {
    background: red;
}
.new-yum {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0faae4;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.new-yum:hover {
    background: red;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*FOOTER*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer {
    /*background-color: rgba(0,0,0, .25);*/
    /*box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);*/
    
    font-weight: bold;
    color: white;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*MEDIA QUERIES*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 800px) {
    #nav-search-btn {
        display: none;
    }
    .container {
        margin-top: 100px;
    }
    .search {
        margin-top: 23px;
    }
    .mobile-nav {
        display: inline-block;
    }
    .desktop-nav {
        display: none;
    }
    header ul {
        position: absolute;
        top: 6px;
        left: 80px;
    }
    div.title {
        top: 6px;
    }
    .vertical-bar {
        /*VERTICAL BAR*/
        
        border-left: 1px solid #000;
        height: 70px;
    }
    body > header > div.mobile-nav > div.responsive-menu.expand > ul > li:nth-child(2) {
        padding-right: 0px;
        padding-left: 0px;
    }
    body > header > div.mobile-nav > div.responsive-menu.expand > ul > li:nth-child(2):hover {
        background-color: white;
        border: none;
    }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*GRID SYSTEM*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.row,
.column {
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.column {
    position: relative;
    float: left;
    display: block;
}
.column + .column {
    margin-left: 1.6%;
}
.column-1 {
    width: 6.86666666667%;
}
.column-2 {
    width: 15.3333333333%;
}
.column-3 {
    width: 23.8%;
}
.column-4 {
    width: 32.2666666667%;
}
.column-5 {
    width: 40.7333333333%;
}
.column-6 {
    width: 49.2%;
}
.column-7 {
    width: 57.6666666667%;
}
.column-8 {
    width: 66.1333333333%;
}
.column-9 {
    width: 74.6%;
}
.column-10 {
    width: 83.0666666667%;
}
.column-11 {
    width: 91.5333333333%;
}
.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 800px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: auto;
    }
    .column + .column {
        margin-left: 0;
    }
}


@media only screen and (max-width: 800px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}