// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline {
	width: 300px;
	background-color: rgba(230,230,230, 1);
	padding: 10px;
	
	

}

.form-inline label {
	font-size: 2em;
	min-width: 115px;
}

.form-inline input {
	

}
.form-inline input[type=text] {
    border-radius: 10px;
    height: 36px;
    width: 260px;
    border: 2px solid black;
    padding: 5px;
    margin: 15px;
    background-color: rgba(15,170,228, 1);
    font-size: 1.5em;
    
}

.form-inline input[type=password] {
    border-radius: 10px;
    height: 36px;
    width: 260px;
    border: 2px solid black;
    padding: 5px;
    margin: 15px;
    background-color: rgba(15,170,228, 1);
    font-size: 1.5em;
}

.submit {
    background-color: crimson;
    height: 50px;
    border-radius: 9px;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    width: 275px



}